li {
    font-style: italic;
}

footer {
    color: white;
}

<<<<<<< Updated upstream
=======
#resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume a {
    color: black;
    text-decoration: none !important;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group button {
    display: flex;
    justify-content: left;
    align-items: center;
}

#backbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none;
    background-color: white;
    border-radius: 25px;
}
  
#backbutton a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: none !important;
}

#backbutton:hover {
    color: black;
    background-color: #ec7f37;
    border: none;
    border-radius: 25px;
}


>>>>>>> Stashed changes
#maristlogo {
    height: auto;
    width: 3%;
}

#maristnetworking {
    display:none;
}

.date {
    font-weight: bold;
}

.marist {
    text-shadow: 2px 2px 0 red, 4px 4px 0 white; /* Add a yellow-orange shadow */
    font-size: 1em; /* Increase the font size for the bubble effect */
    color: black; /* Change the text color to white for better visibility */
}

.entecrity {
    text-shadow: 2px 2px 0 white, 3px 3px 0 black;
    font-size: 1em;
    color: black;
}

.mediaradar {
    text-shadow: 2px 2px 0 navy, 4px 4px 0 white;
    font-size: 1em;
    color: orange;
}

.yext {
    text-shadow: 2px 2px 0 white, 3px 3px 0 black;
    font-size: 1em;
    color: black;
}

.myfbaprep {
    text-shadow: 2px 2px 0 black, 4px 4px 0 white;
    font-size: 1em;
    color: yellow;
}

.adp {
    text-shadow: 2px 2px 0 white, 4px 4px 0 black;
    font-size: 1em;
    color: red;
}