body {
    background-image: url(./Resources/assets/IMG_2712.png);
    background-size: 10%;
}

a {
    justify-content: center;
    color: black;
    text-decoration: none;
}

.heading h1 {
    color: white;
}

a:hover{
    color:red;
    cursor: pointer;
    text-decoration: underline;
    background-color: white;
}

a:active {
    color:orange;
    background-color: whitesmoke;
}

.heading {
    display: flex;
    top: 0px;
    justify-content: center;
    margin: auto;
}

#maristlogo {
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 10%;
}

.navigation {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
}

.box {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border: 3px solid black;
}

.box a {
    margin: 5px;
}

ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
