body {
    background-color: #fff;
    color: rgb(255, 255, 255);
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

p, 
li {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.marist {
    text-shadow: 2px 2px 0 red, 4px 4px 0 white; /* Add a yellow-orange shadow */
    font-size: 1em; /* Increase the font size for the bubble effect */
    color: black; /* Change the text color to white for better visibility */
}

.entecrity {
    text-shadow: 2px 2px 0 white, 3px 3px 0 black;
    font-size: 1em;
    color: black;
}

.mediaradar {
    text-shadow: 2px 2px 0 navy, 4px 4px 0 white;
    font-size: 1em;
    color: orange;
}

.yext {
    text-shadow: 2px 2px 0 white, 3px 3px 0 black;
    font-size: 1em;
    color: black;
}

.myfbaprep {
    text-shadow: 2px 2px 0 black, 4px 4px 0 white;
    font-size: 1em;
    color: yellow;
}

.adp {
    text-shadow: 2px 2px 0 white, 4px 4px 0 black;
    font-size: 1em;
    color: red;
}

h2 p {
    font-style: italic;
}

.resume-title {
    position: sticky;
    top: 0px;
}

.date {
    font-style: italic;
    font-size: 14px;
}

.darkMode {
    background-color: #333;
    text-color: #fff;
}
